#parallax {
    line-height: 2;
    background-color: white;
    background-image: url(/images/parallax.png);
    background-repeat: repeat;
    margin: 0;
    background-size: cover;
    background-position: center;
    min-width: 100%;
}
